#main{
    background-image: url('https://wallpapertag.com/wallpaper/middle/b/c/2/456259-mountain-background-images-1920x1080-for-htc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
  

    
}


#authors{

    .card:hover{
   
        background:lightskyblue;

    }
}

footer{
    background-color: rgb(23, 159, 159);
}